# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment variables
.env

# Media
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db