<section id="gallery">

<div class="row g-4">

{% for item in gallery %}

<div class="col-lg-4 col-md-6 gallery-item"
     data-category="{{ item.category }}"
     data-aos="zoom-in">

<div class="gallery-card">

<a

href="{{ item.image.url }}"

data-pswp-width="{{ item.image_width }}"
data-pswp-height="{{ item.image_height }}"
 target="_blank"
rel="noreferrer">

<img
    src="{{ item.image.url|add:'?f_auto,q_auto,w=700,c_fill' }}"
    class="gallery-image"
    alt="{{ item.title }}"
    loading="lazy"
    decoding="async">

<div class="gallery-overlay">

<div class="gallery-overlay-content">

<h5>{{ item.title }}</h5>

<p>{{ item.get_category_display }}</p>

<span class="gallery-icon">

<i class="bi bi-plus-lg"></i>

</span>

</div>

</div>

</a>

</div>

</div>

{% endfor %}

</div>

</section>