<section id="hero" class="hero">

    <div class="hero-overlay">

        <div class="container">

            <div class="row align-items-center vh-100">

                <div class="col-lg-7"
                 data-aos="fade-right">

                    <span class="hero-subtitle">
                        Welcome to HOUSE OF BUSOLAMI
                    </span>

                    <h1 class="hero-title">

                       Elegant Fashion,
                       Beads &
                      Tailoring Essentials

                    </h1>

                    <p class="hero-text">

                       Custom-made clothing, handcrafted bead accessories, 
                       elegant bead bags, fascinators,
                       and premium tailoring materials—all designed 
                        to bring your unique style to life.

                    </p>

                    <div class="mt-5">

                        <a href="#gallery" class="btn btn-gold btn-lg me-3">
                           View Our Collections
                        </a>
 
                        <a href="#appointment" class="btn btn-outline-light btn-lg">
                          Book a Consultation
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>